@{ 
    ViewData["Title"] = "Mining Platform"; 
}

<div class="br-mainpanel">
    <div class="pd-x-20 pd-sm-x-30 pd-t-20 pd-sm-t-30">
        <h4 class="tx-gray-800 mg-b-5">Mining Platform!</h4>
        <p class="mg-b-0">Mining Platform</p>
    </div>
    <div class="br-pagebody">
        <div class="br-section-wrapper">
        </div>
    </div>
</div>